# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Micro-Vir_UPB.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Acer Nitro 5\Desktop\Proyectos Web\Micro-Vir_UPB\.idea\.idea.Micro-Vir_UPB.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
