.Tabs{
    width: 500px;
    left: 65vw !important;
}



.Login__Background{
    position: fixed;
    width: auto;
    height: 100vh;
    z-index: -1;
}
.Login__MicroVir{
    width: 30rem;
    height: auto;
    position: relative;
    top: 10rem;
    left: 15rem;
    box-shadow: 0px 7px 5px #424242;
}