/*.prueba {*/
/*  background-color: rgb(224, 224, 228);*/
/*}*/
/* .center {
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.videosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2rem;
}
.svgNoVideos {
  margin: 0;
  width: 25rem;
  height: 25rem;
  position: relative;
  left: 20rem;
  top: -4rem;
}
.h1NoVideos {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 13rem;
}
p {
  color: #000000;
  font-size: 18px;
}
